public-hoist-pattern[]=*@medusajs/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-router-dom
# Allow build scripts for native modules
onlyBuiltDependencies[]=@medusajs/telemetry
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
